/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* 기본 레이아웃들 리셋(클리어) 시키는 css파일 
	웹페이지 만들때 불편한 디자인들을 초기화 시키는 작업*/

body{
	margin: 0;
	padding: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, footer, header, hgroup, nav, section {
	display: block;
}
body {
	font-family:Dotum, 'Times New Roman',serif;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
}
img{
	border:0;	
}
a{
	text-decoration: none;	
}
